{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet"  href="{% static 'main.css' %}">
{% endblock %}

{% block main %}
<table>
{% for movie in movies %}
    <td>
        <div class="season">
            <h3 class="num-season">{{ movie.name }}<br /></h3>
            <button onclick="location.href='season/{{movie.movie_id}}'" type="button">
                <img
                        alt=""
                        class="num"
                        src="../media/{{movie.image}}"
                />
            </button>

        </div>
    </td>
{% endfor %}
</table>
{% endblock %}