
{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet"  href="{% static 'season.css' %}">
{% endblock %}

{% block main %}
<div class="flex-wrapper-one">
      <img alt="" class="num" src="../media/{{movie.image}}" />
      <p class="god-vypuska-zhanr-fentezi-boevik">
        ГОД ВЫПУСКА: {{movie.year}}<br />
        ЖАНР: {{movie.genre}}<br />
        СТРАНА: {{movie.country}}<br />
        АВТОР: {{movie.author}}<br />
        ВОЗРАСТНОЕ ОГРАНИЧЕНИЕ: {{movie.age_rating}}
      </p>
    </div>
<p class = "torrent">{{magnet}}</p>
<div class="myVideo"></div>


    <!-- Include WebTorrent -->
    <script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>

    <!-- Torrent streaming -->
    <script>

        torrentId = document.querySelector(".torrent").innerText

        const client = new WebTorrent()
        client.add(torrentId, onTorrent)

        // Render media files into to the page
        function onTorrent (torrent) {
            torrent.files.forEach(function (file) {
                if (file.name.endsWith('.mp4'))
                {
                    file.appendTo('.myVideo')
                }
            })
        }
    </script>

{% endblock %}

