
{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet"  href="{% static 'season.css' %}">
{% endblock %}

{% block main %}
<div class="flex-wrapper-one">
    <div class="season">
        <h3 class="num-season">{{ movie.name }}<br /></h3>
        <div class="movie">
            <img
                    alt=""
                    class="num"
                    src="../media/{{movie.image}}"
            />
            <p class="god-vypuska-zhanr-fentezi-boevik">
                ГОД ВЫПУСКА: {{movie.year}}<br/><br/>
                ЖАНР: {{movie.genre}}<br/><br/>
                СТРАНА: {{movie.country}}<br/><br/>
                АВТОР: {{movie.author}}<br/><br/>
                ВОЗРАСТНОЕ ОГРАНИЧЕНИЕ: {{movie.age_rating}}
            </p>
        </div>
    </div>

</div>

<p class="description">{{movie.description}}</p>

<div class="myVideo"></div>

<script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
<script src="{% static 'torrent.js' %}" magnet="{{magnet}}"></script>

{% endblock %}

